@media(max-width: 768px) {

    .flex-container {

        .item-1 {

            i {
                font-size: 24px;
            }
        }

        .item-3 {
            visibility: visible;
            cursor: pointer;
        }

        .item-3:hover {
            color: $secondary-color;
        }

        #sidemenu {
            margin-top: 0;
            background-color: $secondary-color;
            position: fixed;
            left: 0;
            right: 0;
            top: -300px;
            width: 100%;
            z-index: 2;
            transition: top 0.5s;
            padding: 30px 0 20px 0;
            text-align: center;

            li { 
                list-style-type: none;
                padding-bottom: 10px;
                
                a {
                    text-decoration: none;
                    color: $light-color;

                    &:hover {
                        color: lighten($primary-color, 10%);
                    }
                }                
            }

            .fa-xmark {
                cursor: pointer;
                top: 25px;
                color: $light-color;
                margin-bottom: 25px;

                &:hover {
                    color: lighten($primary-color, 10%);
                }

            }
            
        }
    }

    .flex-container-2 {
        display: none;
    }

    .flex-container-3 {
        flex-direction: column-reverse;

        .item-1 {
            width: 60%;
            text-align: center;

            h1 {
                font-size: 36px;
            }
        }

        .item-2 {
            width: 60%;
            }
    }

    #contact {
        #inquiryForm {
            margin: 0px 1vw 10px 1vw;

            #formTextArea {
                width: 70%;
                margin: auto;
            }
        }
    }

    #top-footer {

        #logo {
            width: 20%;
        }
    }

    #footer {

        .footer-desc {
            font-size: 10px;
        }
    }
    


}
